body {
      background-color: #1b1d1e;
    }
    
    .h1-title {
        color: white;
        font-size: 4rem;
    }
    
    .h1-bt {
        color: lightgrey;
        font-size: 3rem;
    }
    
    .p-about {
        color: lightgrey;
        font-size: 1.25rem;
    }
    
    .h1-blogs {
        color: lightgrey;
        font-size: 3rem;
    }
    
    .blogpost-cover-image {
         outline: 10px solid blue;
         border-radius: 10px;
    }
    
    .blogauthor {
        color: lightgrey;
        font-size: 1.25rem;
    }
    
    .p-blogcontents {
        color: lightgrey;
        font-size: 1.25rem;
    }
    
    .p-datepub {
        color: lightgrey;
        font-size: 1.4rem;
    }
    
    .p-blog-name {
        color: lightgrey;
        font-size: 1.8rem;
    }
    
    .link {
        color: lightgrey;
        font-size: 1.25rem;
        text-decoration: none;
    }

    .blog-cont > div {
    display: inline-block;
    margin: 0 30px;
    }

    .h1-link {
        color: lightgrey;
        font-size:3rem;
        text-decoration: none;
    }

    #custom-message {
        position: fixed;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            background-color: blue;
            color: white;
            padding: 1rem 2rem;
            border-radius: 0.5rem;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
            font-weight: bold;
            opacity: 0; /* Hidden by default */
            transition: opacity 0.3s ease-in-out;
            z-index: 1000;
    }

    #custom-message.show {
            opacity: 1;
    }
